.navbar {
  padding-top: 25px;
  padding-bottom: 25px;
  /* background: linear-gradient(189deg, rgb(119, 183, 239) 21%, rgba(137,133,199,1) 68%); */
 
}
.navbarLinkWrapper{
  display: flex;
  align-items: baseline;
}
.authMenu{
  margin-left: auto;
}
.leftHeader{
  display: flex;
  justify-content: space-between;
}