@import-normalize; /* bring in normalize.css styles */
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
   background: #caca;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.phonebook-title{
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(50, 50, 50);
  font-size: 35px;
  margin-bottom: 10px;
}
.phonebook-contact-title{
  font-family: initial;
  font-weight: 900;
    font-size: 35px;
  text-align: center;
  color: rgb(50, 50, 50);
}

.after-title{
  text-align: center;
  font-size: 20px;
}
