.UserMenu {
  display: flex;
   flex-direction: column;
  margin-left: auto;
}

.userName {
  font-weight: 700;
  font-size: 15px;
  color: rgb(103, 185, 248);
  text-shadow: 10px 5px 10px rgb(16, 16, 25);
}

.userName:not(:last-child) {
  margin-right: 10px;
}
.logoutBtn {
  padding: 3px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: rgb(103, 185, 248);
  box-shadow: 10px 5px 10px rgb(48, 48, 66);
}

@media screen and (min-width: 768px) {
   .UserMenu{
      flex-direction: row;
   }
   .userWrapper {
  margin-right: 20px;
}
  .userName {
    font-weight: 700;
    font-size: 25px;
    color: rgb(103, 185, 248);
    text-shadow: 10px 5px 10px rgb(16, 16, 25);
  }
  .logoutBtn {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: rgb(103, 185, 248);
    box-shadow: 10px 5px 10px rgb(48, 48, 66);
  }
}

.logoutBtn:hover,
.logoutBtn:focus {
  background-color: rgb(82, 150, 202);
}
